.col {
  border: 1px solid;
  background-color: #ffffff;
  line-height: 3;
  text-align: center;
  font-size: larger;
}
.day {
  font-size: 30px;
}
.date {
  margin-top: -30px;
}
.col:hover {
  background-color: #f0ece2;
  transition: all 150ms ease-in-out;
}
main {
  border: 2px solid;
  border-radius: 4px;
  box-shadow: 10px 5px 5px #dfd3c3;
  margin: 100px auto;
  padding: 10px 20px;
  font-weight: 500;
  background-color: #ffffff;
  max-width: 640px;
}
body {
  background-color: beige;
}
h2 {
  opacity: 0.9;
}
a {
  color: gray;
}
